/* Variáveis de cores*/
$c-main-text: #5A5A5A;
$c-bg-modal-before: rgba(0,0,0,0.6);
$c-bg-modal:#fefefe;
$c-modal-border: #555555;
$c-modal-border-header-footer: #eaeaea;
$c-button-border: rgba(0, 0, 0, 0.1);
$c-button-bg-primary: #404040;
$c-button-text-primary: #FFFFFF;
$c-button-bg-primary-hover: #333333;
$c-button-text-primary-hover: #FFFFFF;
$c-card-bg: #eaeaea;
$c-card-border: #eaeaea;

/* Variáveis de font*/
$default-font-size: 100%;
$main-font: 'Lato', sans-serif;
