@use "../abstracts/" as *;

.nomearClasse1 {

    width: 25%;
    margin-top: rem(20);

    .nomearClasse2 {
        background: $c-card-bg;
        border: rem(1) solid $c-card-border;
        border-radius: rem(6) rem(6) 0 0;    
        padding: rem(20);
    }

    .nomearClasse3 {
        margin: 0;
        font-weight: bold;
    }

    .nomearClasse4 {
        border-radius: 0 0 rem(6) rem(6);
        border: rem(1) solid $c-card-border;
        padding: rem(20);
    }

}